.content-25.team {
  padding-bottom: 0;
}

.desc {
  margin-bottom: 50px;
}

.team-pic-holder {
  height: 600px;
  overflow: hidden;
}



/* .parallax-window {
	min-height: 400px;
	background: transparent;
} */
